body{
    background: #11698e;
    color: #fff;
  
}
.border-custom{
    border-radius: 10px; 
}
.flex-list {
    display: flex;
    flex-wrap: wrap;
}
.flex-list li {
    padding: 3em; 
    margin: .5em; 
    background: #03506f;
    /* background: rgb(52,98,108);
    background: linear-gradient(-180deg, rgba(52,98,108,1) 0%, rgba(131,155,151,1) 100%); */
    border: 2px solid #fff;
    flex-grow: 1 ;
    box-shadow: 2px 2px 10px #000;
}